---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { Image } from "@astrojs/image/components";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        {
          posts.map((post) => (
            <div class="blog-post">
              <Image
                width={400}
                height={300}
                src={post.data.postImage.src || "/placeholder-hero.jpg"}
                alt={post.data.postImage.alt || post.data.title}
              />
              <FormattedDate date={post.data.pubDate} />
              <a href={`/updates/${post.slug}/`}>{post.data.title}</a>
            </div>
          ))
        }
      </section>
    </main>
    <Footer />
    <style lang="scss">
      @use "../../styles/variables" as *;
      section {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        @include screen ($sm) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include screen ($md) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      .blog-post {
        display: flex;
        flex-direction: column;
        color: var(--color-font-secondary);
      }
    </style>
  </body>
</html>
